body {
    background-color: linen;
    color: indianred;
    font-size: 40px;
}

.centred {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

